@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
.container_topbar {
    transition-timing-function: ease-in;
    transition: all 0.5s;
    background-color: white;
}
.container_topbar_changed {
    background-color: #D2BF65;
}
.container_header {
    text-align: center;
}
.header_links {
    text-decoration: none;
    color: black;
    transition: all 400ms ease;
}
.header_links:hover {
    color: #D2BF65;
}
.header_links_changed {
    color: white;
}
.header_links_changed:hover {
    color: black;
}
.nav-link {
    color: black;
}
.nav-link:hover {
    transition: all 400ms ease;
    color: #D2BF65;
}
.color_changer {
    color: white;
}
.color_changer:hover {
    transition: all 800ms ease;
    color: black;
}
ul {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.dropdown-menu {
    border: none;
    border-radius: 0;
    background-color: #F2F2F2;
    
}
.dropdown-item:hover {
    transition: all 400ms ease;
    color: #D2BF65;
}

/* Media Queries Medium Devices*/
@media screen and (max-width:1024px){
    ul {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}

/* Media Queries Small Devices*/
@media screen and (max-width:600px){
    ul {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}