@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
.main_nav:hover {
    transition: all 400ms ease;
    color: #D2BF65;
}
.nav-link {
    color: black;
}
.nav-link:hover {
    transition: all 400ms ease;
    color: #D2BF65;
}
ul {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.dropdown-menu {
    border: none;
    border-radius: 0;
    background-color: #F2F2F2;
    
}
.dropdown-item:hover {
    transition: all 400ms ease;
    color: #D2BF65;
}

/* Media Queries Medium Devices*/
@media screen and (max-width:1024px){
    ul {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}

/* Media Queries Small Devices*/
@media screen and (max-width:600px){
    ul {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}