.container_navlinks {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}
.container_help, .container_bookscards {
    padding: 3rem 0;
    text-align: center;
}
.container_help_header, .container_bookscards_header {
    width: 50%;
    text-align: center;
    margin: auto;
}
.container_help_body {
    margin-top: 2rem;
    text-align: justify;
}
.container_bookscards_body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-items: center;
}
.accordion-button:not(.collapsed) {
    color: black;
    background-color: white;
}
.accordion-button:focus {
    border-color: none;
    box-shadow: none;
}
.books_image {
    width:35rem;
    margin: 2rem 0;
}
.img__description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    color: #D2BF65;
    visibility: hidden;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s, visibility 0s;
  }
  .img__wrap:hover .img__description_layer {
    animation: 1s ease-in-out 1s 1 slideInFromLeft;
    margin: 2rem;
    visibility: visible;
    opacity: 0.8;
    padding: 5rem;
    text-align: justify;
  }
  .img__description {
    transition: 0s;
    transform: translateY(1em);
  }
  .img__wrap:hover {
    transform: translateY(0);
  }



/* Media Queries Medium Devices*/
@media screen and (max-width:1024px){
    .container_help_header, .container_bookscards_header {
        width: 100%;
    }
    .container_bookscards_body {
        display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    }
    
}

/* Media Queries Small Devices*/
@media screen and (max-width:600px){
    .container_help_header, .container_bookscards_header {
        width: 100%;
    }
    .container_bookscards_body {
        display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    }
    .books_image {
        width:20rem;
        margin: 2rem 0;
    }
}