.slider_image {
    height: 31rem;
}
.container_slider {
    position: relative;
    text-align: center;
    color: white;
}
.container_slider_text_header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.571);
    width: 100%;
}
.container_intro {
    padding-top: 2rem;
    text-align: center;
}