.container_menu_appetizers, .container_menu_mains, .container_menu_desserts, .container_menu_beverages {
    padding: 4rem;
}
.container_menu_appetizers_header, .container_menu_mains_header, .container_menu_desserts_header, .container_menu_beverages_header {
    text-align: center;
}
.container_image {
    width: 20rem;
    height: 18rem;
}
/* Media Queries Medium Devices*/
@media screen and (max-width:1024px){
    .container_menu_appetizers, .container_menu_mains, .container_menu_desserts, .container_menu_beverages {
        padding: 2rem;
    }
    .container_menu_appetizers_header, .container_menu_mains_header, .container_menu_desserts_header, .container_menu_beverages_header {
        text-align: justify;
    }
    .container_image {
        width: 22rem;
        height: 17rem;
    }
}

/* Media Queries Small Devices*/
@media screen and (max-width:600px){
    .container_menu_appetizers, .container_menu_mains, .container_menu_desserts, .container_menu_beverages {
        padding: 0;
    }
    .container_menu_appetizers_header, .container_menu_mains_header, .container_menu_desserts_header, .container_menu_beverages_header {
        margin-top: 2rem;
    }
    .container_image {
        width: 22rem;
        height: 18rem;
    }
}