.container_footer {
    background-image: url('../../assets/footer-box.png');
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1rem;
    margin: auto;
}
a {
    font-size: large;
    color: black;
    transition: all 400ms ease;
}
a:hover {
    color: #D2BF65;
}
.image_logo {
    width:8rem;
    height:7rem;
    border-radius: 50%;
    border: 1px solid white;
}
.cols {
    border-right: 2px dotted black;
    text-align: center;
    width: 33%;
    display: inline-block;
    align-items:center;
    vertical-align: middle;
}
.cols_brm {
    text-align: center;
    width: 33%;
    display: inline-block;
    align-items:center;
}
.footer_links {
    text-decoration: none;
    color: black;
    transition: all 400ms ease;
}
.footer_links:hover {
    color: #D2BF65;
}
.footer_social_links {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    background-color: white;
    transition: all 400ms ease;
}
.footer_social_links:hover {
    color: #D2BF65;
}
.footer_nav_links {
    position:sticky;
    margin-top: .2rem;
    text-decoration: none;
    font-size: x-small;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .5rem;
    background-color: white;
    align-items: center;
    transition: all 400ms ease;
}
.footer_nav_links:hover {
    color: #D2BF65;
}

/* Media Queries Medium Devices*/
@media screen and (max-width:1024px){
    .container_footer {
        background-image: none;
    }
    .footer_links {
        display: none;
    }
    .footer_nav_links {
        margin-top: .5rem;
        text-align: justify;
        font-size: medium;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: .3rem;
    }
}

/* Media Queries Small Devices*/
@media screen and (max-width:600px){
    .container_footer {
        background-image: none;
    }
    .footer_links {
        display: none;
    }
    .footer_nav_links {
        margin-top: .5rem;
        text-align: justify;
        font-size: medium;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: .3rem;
    }
}