@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
body {
  padding: 2rem;
  margin: auto;
  font-family: 'Nanum Myeongjo', serif;
  background-color: white;
  color: black;
  width:65%
}

/* Media Queries Medium Devices*/
@media screen and (max-width:1024px){
  body {
    padding: 1rem;
    width:100%
  }
}

/* Media Queries Small Devices*/
@media screen and (max-width:600px){
  body {
    padding: 1rem;
    width:100%
  }
}