@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
body {
  padding: 2rem;
  margin: auto;
  font-family: 'Nanum Myeongjo', serif;
  background-color: white;
  color: black;
  width:65%
}
